*{
	padding: 0;
	margin: 0;
    border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.fixed {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100px;
    padding: 40px 0px 0px 20px;
}
.pages a {
    font-size: 20px;
}
.logos {
    display: flex;
    flex-direction: row;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logo {
    padding-bottom: 10px;
}
.logo img {
    width: 70px;
    height: 70px;
}
.logo-text {
    color:white;
    font-size: 30px;
    padding-top: 23px;
    padding-left: 10px;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.buts {
    width: 100px;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.buts:last-child {
    border: 2px solid #0c579c;
    border-radius: 20px;
    color:#0c579c;
}
.buts:hover {
    border: 2px solid #ffffff;
    border-radius: 20px;
    color:#ffffff;
}
.soc a:hover {
    transform: scale(1.4);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.social {
    display: inline-block;
    margin-left: 10px;
}
.social img {
    width: 25px;
    height: 25px;
}
.url {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    color:white;
    margin-right:20px;
}
.url a {
    color:white;
}
.burger {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 100px;
    height: 100%;
    z-index: 2;
}
.firstBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
}
.mainText {
    color:#ffffff;
    font-size: 40px;
    padding-bottom: 15px;
}
.secondText{
    color:#0c579c;
    font-size: 26px;
    padding-bottom: 60px;
}
.buttonMain {
    border: 2px solid #0c579c;
    border-radius: 20px;
    padding: 10px;
    color:#ffffff;
    text-decoration: none;
}
.firstBlock a {
    font-size: 18px;
    cursor: pointer;
}
.secondBlock {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
    margin-top: 60px;
}
.secondBlock img {
    width: 630px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    box-shadow: 10px 10px 10px #0c579c;
}
.white-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -90px;
    background-color:white;
}
.thirdblock {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    width: 1000px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.menu a {
    color:black;
    border-color: black;
}
@media (max-width: 1210px) {
    .buts {
        display: none;
    }
    .link-container {
        justify-content: space-between;
    }
    .soc {
        margin-right: 50px;
    }
}
@media (max-width: 700px) {
    .mainText {
        font-size: 30px;
    }
    .secondText {
        font-size: 16px;
    }
    .firstBlock a {
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    .soc {
        display: none;
    }
    .link-container {
        justify-content: space-between;
    }
    .burger {
        display: flex;
        cursor: pointer;
        margin-right: 20px;
    }
    .mainText {
        font-size: 24px;
    }
    .secondText {
        font-size: 12px;
    }
    .firstBlock a {
        font-size: 10px;
    }
}
@media (max-width: 290px) {
    .logo-text{
        display: none;
    }
}