*{
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
    background-image: url(../images/Prostokąt\ 19.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #8492af;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid #5584ff;  /* padding вокруг плашки */
  }
.fixed {
    max-width: 1800px;
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 120px;
    padding: 20px 20px 0px 20px;
}
.pages a {
    font-size: 20px;
}
.logos {
    display: flex;
    flex-direction: row;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logo {
    padding-bottom: 10px;
}
li {
    list-style-type: none; 
}
.navbar {
    min-height: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.nav-menu {
    display: flex;
    align-items:center;
    justify-content: center;
}
#last {
    border: 2px solid #5584ff;
    border-radius: 20px;
    color:#5584ff;
    margin-left: 40px;
}
#last a {
    color:#5584ff;
}
li a {
    color:white;
    text-decoration: none;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.7s ease;
}
li a:hover {
    color: #8492af;
}
.burger {
    display: none;
    cursor: pointer;
    margin-top: -5px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden; 
}
main img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 100px;
    height: 100%;
    z-index: 2;
}
.firstBlock{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
}
.mainText {
    color:#ffffff;
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: lighter;
}
.secondText{
    color: #8492af;
    font-size: 26px;
    padding-bottom: 60px;
}
.buttonMain {
    border: 2px solid dodgerblue;
    border-radius: 20px;
    padding: 10px;
    color:#ffffff;
    width: 170px;
    text-align: center;
    background-color:dodgerblue;
}
.buttonMain:hover {
    background-color:#0e1a35;
    transition: 0.3s;
}
.firstBlock a {
    font-size: 18px;
    cursor: pointer;
}
.secondBlock {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100%;
    margin-top: 60px;
}
.secondBlock img {
    width: 630px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    box-shadow: 1px 1px 30px #8fa7e4;
}
.white-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    background-color:white;
}
.thirdblock {
    padding-top: 185px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;
    width: 1000px;
}
.imgformenu {
    padding-bottom: 30px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    line-height: 1.7;
}
.textformenu h1 {
    color: black;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 117px;
}
.buttonMenu {
    border: 1px solid #dee1e7;
    border-radius: 24px;
    cursor: pointer;
    padding: 10px;
    width: 250px;
    text-align: center;
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.textformenu {
    color: #8492af;
    width: 80%;
    text-align: center;
    padding-bottom: 40px;
    font-size: 17px;
}
.white2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    background-color:white;
}
.fourblock {
    display: flex;
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
}
.browserText {
    color: #8492af;
    font-size: 17px;
    padding-bottom: 50px;
    width: 70%;
    margin-left: 100px;
}
.browserText h1 {
    padding-bottom: 40px;
    color: #0e1a35;
    font-size: 40px; 
    font-weight: lighter;
}
.lorem {
    padding-bottom: 40px;
    width: 60%;
    line-height: 2;
}
.li {
    padding-bottom: 20px;
    color: #5886ff;
    font-size: 20px;
}
.li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}
.imgbrows img {
    height: 100%;
}
#img2 {
    display: none;
}
.dragdrop {
    max-width: 1800px;
    width: 100%;
    height: 757px;
    margin: 0 auto;
    height: 100%;
}
.content {
    display: flex;
    padding-top: 160px;
    padding-bottom: 200px;
    margin-left: 190px;
}
.drag-text h1 {
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: lighter;
}
.drag-text {
    color: white;
    width: 50%;
}
.lorem-text {
    line-height: 2;
    font-size: 20px;
    color: #8492af;
    width: 70%;
    padding-bottom: 50px;
}
.arrow {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
}
.left, .right {
    cursor: pointer;
}
.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.todo h1 {
    color:white;
    font-size: 30px;
    font-weight: medium;
    width: 170px;
    height: 100%;
    padding: 5px;
    text-align: center;
}
.status {
    padding: 0px 50px 300px 50px;
}
.status:first-child { 
    margin-right: 100px;
}
.but {
    background-color:#ccc;
    width: 170px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.but:hover {
    background-color:#aaa;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color:#fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 10px;
}
.task span {
    position: relative;
    top: 0rem;
    right: -0.5rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.task span:hover {
    color: #ccc;
}
.close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
  }
  
  .modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
  }
  
  .modal.active {
    top: 15%;
  }
  
  .modal .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .modal .body {
    padding: 0.75rem;
  }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #overlay.active {
    display: block;
  }
  .title {
    font-size: 20px;
  }
  #todo_input {
    font-size: 20px;
  }
  #todo_input2 {
    font-size: 10px;
    color:rgb(40, 43, 214);
  }
  #todo_input,
  #todo_input2,
  #todo_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
    text-align: center;
  }
  
  #todo_submit {
    background-color: #5886ff;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
  }
.prefinal_block {
    background-color:white;
    flex:1 1 auto;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
}
.container_width {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.psd {
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.psd h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 45px;
    font-weight: lighter;
}
.textPSD{
    color: #8492af;
    width: 54%;
    font-size: 16px;
    text-align: center;
    line-height: 2;
}
.psd_img {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.psd_img img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.imgtext h1 {
    font-size: 20px;
    font-weight: bold;
    color: #0e1a35;
    padding-bottom: 20px;
}
.imgtext {
    flex-direction: column;
    display: flex;
}
.hr-line {
    margin: 20px 0;
	padding: 0;
    color:dodgerblue;
    width: 700px;
	border-top: 2px solid dodgerblue;
}
.hr-line:after {
    content: '';
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 7px solid rgb(147, 192, 238);
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    background: dodgerblue;
}
.img_lorem {
    font-size: 18px;
    color: #8492af;
    width: 40%;
    line-height: 1.5;
    height: 100%;
}
#v1-1 {
    text-align: left;
}
#v1 {
    align-items:flex-start;
    position: absolute;
    padding-bottom: 350px;
    padding-right: 700px;
    padding-left: 30px;
}
#v2-2 {
    text-align: right;
}
#v2 {
    align-items:flex-end;
    position: absolute;
    padding-top: 250px;
    padding-right: 30px;
    padding-left: 700px;
}
.final_block {
    background-color:white;
    flex:1 1 auto;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
}
.final_width {
    width: 100%;
    height: 100%;
}
.price {
    font-weight:lighter;
    font-size: 50px;
    text-align: center;
    color:#0e1a35;
    padding-bottom: 60px;
}
.pricemenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding: 20px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.priceli h1 {
    color: #0e1a35;
    padding-bottom: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}
.priceli {
    padding: 21px 50px;
    box-shadow: 1px 1px 10px rgb(196, 193, 193);
    -moz-box-shadow: 1px 1px 10px rgb(196, 193, 193);
    -webkit-box-shadow: 1px 1px 10px rgb(196, 193, 193);
}
.dollar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: #0e1a35;
}
.dl {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.count {
    font-size: 50px;
    font-weight: bold;
}
.mon {
    color:#8492af;
    font-size: 20px;
    margin-top: 20px;
}
.dolor {
    padding-left: 0px;
}
.priceli li img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: 5px;
}
.liprices {
    color: #8492af;
    font-size: 18px;
    line-height: 1.6;
}
.liprices {
    padding-bottom: 20px;
}
.final_mini_block {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
}
.final_text {
    width: 43%;
    color:#8492af;
    font-size: 16px;
    text-align: center;
    padding-bottom: 65px;
    line-height: 1.7;
}
.final_button {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 24px;
    width: 200px;
    height: 48px;
    overflow: hidden;
    text-align: center;
}
.final_button:hover {
    background:#8492af;
}
.butt {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.butt span {
    display: inline-block;
    vertical-align: middle;
}
.butt::before, .butt::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #d8dde7;
    position: relative;
}
.butt:before {
    margin-left: -100%;
    left: -14px;
}
.butt:after {
    margin-right: -100%;
    right: -14px;
}
.final_button a {
    color:#ffffff;
    font-size: 16px;
}
.footer_menu {
    max-width: 1800px;
    margin: 0 auto;
}
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 150px;
}
.rights {
    color:#8492af;
    font-size: 16px;
}
.footer_menu .link {
    color: #8492af;
    font-size: 16px;
}
.footer_menu .link:hover {
    color: white;
}
.soc a:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.7s;
    -webkit-filter: grayscale(100) brightness(200);
    filter: grayscale(100) brightness(200);
}
.soc {
    display: flex;
    align-items: center;
    transition: 0.5s;
    gap: 20px;
    text-align: center;
}
.social {
    display: inline-block;
}
@media (max-width: 1800px) {
    .fourblock {
        flex-wrap: wrap;
    }
    .browserText {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    #img1 {
        display: none;
    }
    #img2 {
        display: flex;
    }
}

@media (max-width: 1475px) {
    .fourblock {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:1425px) {
    .imgtext {
        display: none;
    }
}

@media (max-width: 1335px) {
    .todo {
        flex-direction: column;
    }
    .content {
        margin-left: 0px;
    }
    .status:first-child {
        margin: 0px;
        text-align: center;
    }
    .todo h1 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .imgbrows img {
        width: 80%;
    }
    .imgbrows {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .psd_img img {
        width: 90%;
    }
    #footer .navbar, #footer .soc {
        display:none;
    }
    #footer {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: center;
        width: 100%;
        height: 150px;
    }
}

@media (max-width: 830px) {
    .mainText {
        font-size: 30px;
    }
    .secondText {
        font-size: 16px;
    }
    .firstBlock a {
        font-size: 14px;
    }
    .secondBlock img {
        width: 90%;
    }
    .buttonMenu {
        width: 180px;
    }
    #header {
        justify-content: space-between;
    }
    .burger {
        display: block;
        z-index: 101;
    }
    .burger.active.bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active.bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color:#8492af;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 100;
        height: 100%;
    }
    .nav-item, #last{
        margin: 16px 0;
        border:none;
    }
    #last a{
        color:white;
    }
    .nav-menu.active {
        right:0;
    }
}

@media (max-width: 800px) {
    
    .content {
        flex-direction: column;
    }
    .drag-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .lorem-text {
        text-align: center;
    }
    .todo {
        width: 100%;
    }
    .todo h1 {
        width: 100%;
    }
    .status {
        padding-right: 0px;
        padding-left: 0px;
    }
}   

@media (max-width: 700px) {
    .butt::before, .butt::after {
        display: none;
    }
}

@media (max-width: 600px) {
     .buttonMenu {
         width: 150px;
     }
     .imgbrows img {
        width: 70%;
    }
}

@media (max-width: 540px) {
    .mainText {
        font-size: 24px;
    }
    .firstBlock a {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .buttonMenu {
        width: 110px;
    }
    #todo_form.modal.active {
        width: 80%;
    }
}

@media (max-width: 410px) {
    .liprices {
        font-size: 15px;
    }
    .priceli li img {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 400px) {
    .mainText {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 355px) {
    .buttonMenu {
        width: 90px;
    }
    .logo-text{
        display: none;
    }
}